/* Input styles */

.input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Additional styles for different input states */
.input:focus {
    border-color: var(--primary-color);
    outline: none;
}
